@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: NotoSerifJP;
    src: url(../fonts/NotoSerifJP-Bold.otf);
    font-weight: 700;
}


$clYellow: #fee600;
$green: #676767;
